body {
    background-color: lightsalmon;
  
}

h1 {
    text-align: center;
    text-decoration:underline;
}

.flex-containter {
    display: flex;
    flex-direction: row;
}

.cake {
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cake-pic {
    height: auto;
    width: 400px;
}

.taco {
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.taco-pic {
    height: auto;
    width: 400px;
}